@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:3%">
    <h2>Member Records</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Member</button><br /><br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th> ID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Address</th>
                <th> Email </th>               
                <th> Action </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">               
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add New Member</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="MemberId">Member ID</label>
                        <input type="text" class="form-control" id="MemberID" placeholder="Id" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control" id="FirstName" placeholder="First Name" />
                    </div>
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control" id="LastName" placeholder="Last Name" />
                    </div>
                    <div class="form-group">
                        <label for="Address">Address</label>
                        <input type="text" class="form-control" id="Address" placeholder="Address" />
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="email" class="form-control" id="Email" placeholder="Email" />
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Save" class="btn btn-primary" id="btnSave" onclick="return SaveMember();">
                <input type="submit" value="Update" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>